/* .goals-display {
    min-height: 50px;
    border: 2px solid white;
    margin: 0;
    padding: 0;
} */

.goals-display ul {
    display: flex;
    justify-content: flex-start;
    align-items: top;
    flex-flow: row wrap;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    margin-top: .7em;
    min-height: 120px;
   
}

li {
    list-style-type: none;
    font-size: 1.2em;
    font-weight: 500;
    color: white;
    padding: 0.5em;
    margin: .6em 0.5em 0.6em .5em;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    height: 35px;
    align-content: stretch;
}

li:hover .trash-icon {
    opacity: 1; 
  }

.trash-icon {
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: .7em;
    margin-left: .5em;
    margin-bottom: .7em;
}

.trash-icon:hover {
    color: rgb(255, 0, 0);
    cursor: pointer;
}