#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-size: cover;
  background-position: center;
}

Container for other components
.background {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url('./Background-CodeCademy-Homepage.jpg'); */
  background-size: cover;
  background-position: center;
}

.arrow-left,
.arrow-right {
  position: fixed;
  top: 50%;
  font-size: 3em;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  z-index: 1;
  transform: translateY(-50%); /* Centers the arrows vertically */
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}


