.quote-box {
    padding: 20px;
    border-radius: 10px;
    /* background-color: rgba(255, 255, 255, 0.2); */
    margin-top: 20%;
}

blockquote {
    font-size: 1em;
    margin: 0;
    padding: 0;
    color: white;
}

cite {
    display: block;
    text-align: right;
    margin-top: 10px;
    font-size: 0.7em;
    font-style: italic;
    color: white;

}
